<section class="about">
    <div class="container">
      <h2>About Me</h2>
      <div class="about-content">
        <div class="about-text">
          <h3>I'm Rajat Ghosh, a Passionate Frontend Developer</h3>
          <p>
            I specialize in building high-performance, scalable, and user-friendly web applications using 
            <strong>Angular, ReactJS, TypeScript, JavaScript, HTML, and CSS</strong>. With over 2 years of experience, 
            I have worked on various e-commerce projects, ChatGPT-like UIs, and interactive web applications.
          </p>
          <p>
            My focus is on creating responsive and accessible websites, ensuring fast load times and 
            smooth user experiences. I also optimize web applications for SEO and performance.
          </p>
          <p>
            When I'm not coding, I enjoy exploring new frontend trends.
          </p>
         
        </div>
      </div>
    </div>
  </section>
  